<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Sprout: Indexed #CC.RU Logs</title>
</head>

<body>
    <div class="head">
        <button class="logo-btn" onclick="window.location.href = '/'">
            <img class="logo" src="images/icon.png" height="16">
        </button>
        <button id="input-date-button" class="hidden log-date-control">
            <img class="icon" src="images/calendar.png" width="16" height="16">
            <input id="input-date" class="date-input-box" type="date" />
        </button>
        <button id="log-prev" class="hidden log-date-control">
            <img class="icon" src="images/arrow-left.png" width="16" height="16">
        </button>
        <p id="current-date" class="hidden log-date-control">loading</p>
        <button id="log-next" class="hidden log-date-control">
            <img class="icon" src="images/arrow-right.png" width="16" height="16">
        </button>
        <form method="get" action="/search" id="search">
            <input id="input-search" type="search" placeholder="Search..." name="q">
            <input type="submit" value="">
        </form>
    </div>
    <main>
        <!-- <aside>
            <div class="logo">
                <img alt="Logo" src="images/logo.svg" width="128" height="128">
            </div>
            <div class="log-files">
            </div>
        </aside> -->
        <div class="contents">
            {{#each messages}}
            <div class="message">
                <a id="{{ this.id }}" class="time" href="#{{ this.id }}">[{{ this.time }}]</a>
                <span class="from">&lt;{{ this.author }}&gt;</span>
                <span class="text">{{ this.body }}</span>
            </div>
            {{/each}}
        </div>
    </main>
    <script src="scripts/main.js"></script>
</body>

</html>